/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
	background: url("https://i.cbc.ca/1.5001153.1549052522!/fileImage/httpImage/image.jpg_gen/derivatives/square_1180/sgw-protest.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	display: grid; /* Set up the grid and justify/align to center */
	justify-content: center;
	align-content: center;
	height: 100vh; /* Body is the height of the viewport */
	overflow: hidden; /* Hide anything that goes off the window size */
	font-family: "Mukta", sans-serif;
}
canvas {
	margin-top: 1%;
}

.text-container {
	color: white;
	/* font-size: 22px; */
}

.myButton {
	font-family: "Mukta", sans-serif;
	color: rgb(180, 5, 5);
	background-color: black;
	letter-spacing: 2px;
}

.myButton:hover {
	color: white;
}

.start-btn {
	font-size: 22px;
	font-family: "Mukta", sans-serif;
	color: rgb(180, 5, 5);
	background-color: black;
	letter-spacing: 5px;
}

.start-btn:hover {
	font-size: 25px;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.color-red {
	color: red;
}
